
.list-li{
    width: 15rem;
    margin-bottom: .4rem;
}

.list-a{
    overflow: hidden;
    display: block;
    padding: .4rem;
    background-color: #FFFFFF;
}

.list-left{
    width: 3rem;
    float: left;
}

.list-left img{
    width: 3rem;
    height: 2rem;
}

.list-right{
    width: 10rem;
    float: left;
    margin-left: .4rem;
}

.list-title{
    font-size: .4rem;
}

.list-abs{
    font-size: .32rem;
    color: #999999;
}